
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 5%;
    --foreground: 210 40% 98%;
    --card: 222 47% 7%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 224 63% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 222 47% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 12%;
    --muted-foreground: 215 20% 65%;
    --accent: 195 78% 47%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 15%;
    --input: 222 47% 15%;
    --ring: 224 63% 50%;
    --radius: 5px;
    --sidebar-background: 222 47% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 224 63% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 47% 10%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 12%;
    --sidebar-ring: 224 63% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}

.auto-pay-glow {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px -1px hsl(var(--accent));
  }
  to {
    box-shadow: 0 0 15px 2px hsl(var(--accent));
  }
}
